1
2 308 
2 276

!  1.) number of grids (mother grid included)
!  2.) xstart, xend mother grid (INDEX IN ALADIN GRID, MIDDLE CELL)
!  3.) ystart, yend mother grid (INDEX IN ALADIN GRID)
!  4.) meshing factor of n spanning mother grid cells
!  5.) xstart, xend nested grid (ALADIN GRID NOT RELATIVE TO MOTHER GRID)
!  6.) ystart, yend nested grid (DON NOT FORGET TO ADD BUFFERCELLS)

! CAMX grid nest is actually x:69,167 and y:117,182
! buffer cells are added
