&camx_grid_info

ngridnumber =   1

! relative to grid in NWP GRIBS     |
! 1,1 is lower left (SW) grid point |

CAMx_grid_xbeg(1)  =   2
CAMx_grid_ybeg(1)  =   2
CAMx_grid_xend(1)  = 308
CAMx_grid_yend(1)  = 276
CAMx_grid_step(1) =    1



!------------------------------------
! == CAMx vertical grid structure == |
! .. the same for all grids          |
!------------------------------------
Alad_maxLev     = 34 ! number of ALADIN levels to be read
CAMx_nLev       = 16 ! number of CAMx levels 

! In order to be able to define layer interfaces, we need one more CAMx level => CAMx_nLev+1
CAMx_levDef( 1,:) =  1, 1
CAMx_levDef( 2,:) =  2, 2
CAMx_levDef( 3,:) =  3, 3
CAMx_levDef( 4,:) =  4, 4
CAMx_levDef( 5,:) =  5, 5

CAMx_levDef( 6,:) =  6, 7
CAMx_levDef( 7,:) =  8, 9
CAMx_levDef( 8,:) = 10,11 
CAMx_levDef( 9,:) = 12,13
CAMx_levDef(10,:) = 14,15
CAMx_levDef(11,:) = 16,17
CAMx_levDef(12,:) = 18,19

CAMx_levDef(13,:) = 20,22
CAMx_levDef(14,:) = 23,25
CAMx_levDef(15,:) = 26,28
CAMx_levDef(16,:) = 29,31
CAMx_levDef(17,:) = 32,34
/
