&aladin_gribs_info
!------------------------------------------------------------------------
!                                                                        |
! == information about ALADIN PROJECTION ==                              |
!                                                                        |
! used to create meteo NetCDF for BEIS                                   |
! Grid parameters see http://www.baronams.com/products/ioapi/GRIDS.html  |
!                                                                        |
!------------------------------------------------------------------------
Alad_PROJ        = 2             ! MODELS3 grid definitions: 1=latlong, 2=lambert 3=mercator 4=stereographic 5=UTM, 6=polar
Alad_EarthRadius = 6371229       ! Earth radius in meteres used in ALADIN model
Alad_PROJ_ALPHA  = 46.244D0 ! latitude of 1st standard parallel
Alad_PROJ_BETA   = 46.244D0 ! latitude of 2nd standard parallel (=> 1st stand. par.)
Alad_PROJ_GAMMA  = 17.D0         ! central meridian (The line of longitude that defines the center and often the x-origin of a projected coordinate system.)
Alad_X_CENT      = 17.D0         ! longitude of the center (0,0) of the Cartesian coordinate system
Alad_Y_CENT      = 46.244D0 ! latitude of the center (0,0) of the Cartesian coordinate system


!----------------------------------------------
!     == information about ALADIN grid ==      |
!----------------------------------------------

Alad_nX   = 309      ! number of points along longitude (west to east)
Alad_nY   = 277      ! number of points along latitude (south to north)
Alad_nLev = 43       ! total number of ALADIN levels (not all the levels need to be contained in GRIB file)
Alad_dx   = 8997D0   ! longitude step in meters
Alad_dy   = 8997D0   ! latitude step in meters
Alad_Centr11_X = -1385552.7617893522D0 ! coordinate of the SW grid point in meters (deg for lat-lon proj)
Alad_Centr11_Y = -1241539.6578813735D0 ! coordinate of the SW grid point in meters (deg for lat-lon proj)


!--------------------------------------
! == information about ALADIN GRIBs == |
!--------------------------------------

AladLevNumberedFromBottom = .FALSE. ! zda se hladiny v ALADINu cisluji od spodni (.TRUE.) nebo od horni (.FALSE.)

! For meaning check http://tigge.ecmwf.int/grid.html
Alad_iScanNeg = 0
Alad_jScanPos = 1
Alad_jConsec  = 0
Alad_aRowScan = 0

Alad_missingVal = 9999

Alad_mlLevID  = 109
Alad_sfcLevID = 105


!----------------------------------------------
!      ==  ALADIN FIELDS to be read ==         |
!   their specification in ALADIN GRIB files   |
!----------------------------------------------

! -- surface variables --
!------------------------
! TEMPERATURE
AladField_Tsfc%Param   = 11
AladField_Tsfc%LevType = 105
AladField_Tsfc%minLev  = 0
AladField_Tsfc%maxLev  = 0

! SPECIFIC HUMIDITY
AladField_Qsfc%Param   = 51
AladField_Qsfc%LevType = 105
AladField_Qsfc%minLev  = 2
AladField_Qsfc%maxLev  = 2

! PRESSURE
AladField_Psfc%Param   = 1
AladField_Psfc%LevType = 105
AladField_Psfc%minLev  = 0
AladField_Psfc%maxLev  = 0

! GEOPOTENTIAL
AladField_GEOsfc%Param   = 6
AladField_GEOsfc%LevType = 105
AladField_GEOsfc%minLev  = 0
AladField_GEOsfc%maxLev  = 0

! PLANETARY BOUNDARY LAYER
AladField_PBL%Param   = 67
AladField_PBL%LevType = 105
AladField_PBL%minLev  = 0
AladField_PBL%maxLev  = 0

! SURFACE ROUGHNESS TIMES G
AladField_sfcROUGH%Param   = 183
AladField_sfcROUGH%LevType = 105
AladField_sfcROUGH%minLev  = 0
AladField_sfcROUGH%maxLev  = 0

! ACCUMULATED SURFACE SOLAR RADIATION
AladField_AccSolRad%Param   = 111
AladField_AccSolRad%LevType = 105
AladField_AccSolRad%minLev  = 0
AladField_AccSolRad%maxLev  = 0


!-------------------------------------------------------------
!            == variables in higher levels ==                 |
! minLev and maxLev are assumed to be 1 and Alad_maxLev resp. |
!-------------------------------------------------------------

! TEMPERATURE
AladField_T%Param   = 11
AladField_T%LevType = 109

! GEOPOTENTIAL
AladField_geo%Param   = 6
AladField_geo%LevType = 109

! PRESSURE
AladField_p%Param   = 1
AladField_p%LevType = 109

! u-WIND
AladField_uWind%Param   = 33
AladField_uWind%LevType = 109

! v-WIND
AladField_vWind%Param   = 34
AladField_vWind%LevType = 109

! TKE
AladField_TKE%Param   = 141
AladField_TKE%LevType = 109

! SPECIFIC HUMIDITY
AladField_Q%Param   = 51
AladField_Q%LevType = 109

! RELATIVE HUMIDITY
AladField_Rh%Param   = 52
AladField_Rh%LevType = 109

! atmospheric LIQUID WATER
AladField_Ql%Param   = 142
AladField_Ql%LevType = 109

! atmospheric SOLID WATER
AladField_Qi%Param   = 143
AladField_Qi%LevType = 109
! atmospheric RAIN
AladField_Qr%Param   = 146
AladField_Qr%LevType = 109

! atmospheric SNOW
AladField_Qs%Param   = 145
AladField_Qs%LevType = 109
/

